.header {
  border-bottom: 1px #DDDDDD solid;
}
.nav {
  padding: 27px 0;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.nav_list-item {
  font-weight: 400;
  font-size: 20px;
  color: var(--text_title_color);
}